{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CALCULATOR</title>
    <link href="{% static 'page1.css' %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static 'page1.js' %}"></script>

</head>
<body background="{% static 'fox.jpg'%}" style="background-repeat:no-repeat;background-position:center;background-size:cover;height:100%;" > 
    {% block content %}
    {% endblock %}

    <br> 
 <center>   <footer  style="background-color: purple;width:60%;opacity:0.75;">
        <div align="center">
            <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:yellow;"><U><I>Developed By:</I></U> </h1>
            <h2 style="font-family: cursive;color:cyan;"><strong>SIDDHARTH RAJA</strong></h2>
        </div>

    </footer>
  </center>  


  <script>
        function choice(ch)
        {
          if(ch=="ARITHEMATIC")
          {     let ele=document.getElementById('ABOX');  
                window.alert("ARITHEMATIC MODE ON!!");
                console.log(ele);
                ele.removeAttribute('hidden');
                
          }
          else if (ch=="SCIENTIFIC")
          {

            window.alert("SCIENTIFIC MODE ON!!");
          }
        }
  
  </script>
</body>
</html>