{% extends 'blockcontentpage.html'%}

{% block content%}
  
  
    <div class ="content"> 
      <marquee id="one" scrolldelay=0.1 scrollamount=15>ARITHEMATIC-SCIENTIFIC CALCULATOR</marquee>
      </div>
    <br>
  <center>  
    <fieldset style="width: 60px;"> 
      <strong> <i> <legend style="width:relative; font-family:'Courier New', Courier, monospace;">Select Modes!!</legend></i> </strong>
    
    <div class="grid-container">
      <div class="grid-item"><button name="ARITHEMATIC" id="Arithematic">Arithematic</button></div>
      <div class="grid-item"><button name="SCIENTIFIC" id="Scientific">Scientific</button></div>
    </div>
  </fieldset>
    
  </center>  
    <br>
    <center>
      <div id="BOX"  >  
     <div class="container">     
     <div  class="container">   
        <input id="text1" type="text" placeholder="First number!" />
        <br><br>
        <input id="text2" type="text" placeholder="Second number!"/>
        <br><br>
        <label id="Lab1" style="height: 50px; width:60px;"></label>
    </div>   
        <br>
        <br>

    <div class="row">
        <fieldset><legend>ARITHEMATIC-OPERATIONS</legend>
        <button id ="add" type="button" onclick="calc('+')"  >+</button>
        <button id ="sub" type="button"  onclick="calc('-')" >-</button>
        <button id ="mul" type="button"  onclick="calc('*')" >*</button>
        <button id ="div" type="button"  onclick="calc('/')" >/</button>
        <button id ="mod" type="button"  onclick="calc('%')" >%</button>
         </fieldset>   
      
    </div> 
    </div>
    </div>
    </center>
      

 {% endblock %}     